# https://github.com/github/linguist
# https://github.com/github/linguist#vendored-code
# https://github.com/github/linguist/blob/master/lib/linguist/languages.yml

.recipes/* linguist-vendored=true
.related/* linguist-vendored=true

* linguist-language=JavaScript
